@model Cars.Models.Cars.CarDetailsViewModel

<h1>Details for @Html.DisplayFor(model => model.Make) @Html.DisplayFor(model => model.CarModel) </h1>

<div>
   
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Make" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Make)
            </div>
        </div>

            <div class="form-group row">
                <label asp-for="CarModel" class="col-sm-2 col-form-label">Model</label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.CarModel)
                </div>
            </div>

        <div class="form-group row">
            <label asp-for="Engine" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
            @Html.DisplayFor(model => model.Engine)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Color" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Color)
                    </div>
        </div>

        <div class="form-group row">
            <label asp-for="InitialReg" class="col-sm-2 col-form-label">Initial Registration</label>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.InitialReg)
                        </div>
        </div>
   
        <div class="form-group row">
            <label asp-for="Fuel" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Fuel)
                             </div>       
        </div>

        <div class="form-group row">
            <label asp-for="Mileage" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Mileage)
                                </div>
        </div>

        <div class="form-group row">
            <label asp-for="Transmission" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Transmission)
                     </div>

        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </div>
        </div>


        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                     </div>
        </div>

        <div class="form-group row">
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </div>
        </div>

        @foreach (var images in Model.Image)
        {
            <partial name="_Images" model="images" />
        }
    </dl>


    <a asp-action="Index" asp-controller="Cars" class="btn btn-danger">Back to list</a>

</div>