@model IEnumerable<Cars.Models.Cars.CarIndexViewModel>

@{
    int rowNumber = 1;
}


<div>
    <a asp-action="create" asp-controller="Cars" type="submit" class="btn btn-dark my-2">Add new car</a>
</div>


<div class="h1 mb-5">
    Luxury cars
</div>

<form method="post">
    <table class="table table-dark table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Image</th>
                <th scope="col">Make</th>
                <th scope="col">Car Model</th>
                <th scope="col">Color</th>
                <th scope="col">Price Eur</th>
                <th colspan="3" scope="colgroup"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cars in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>
                        @if (cars.Images.Any())
                        {
                            var randomImage = cars.Images.FirstOrDefault();
                            <img class="card-img-top img_index" src="@Url.Action("GetImage", "Cars", new { imageId = randomImage.ImageId })" asp-append-version="true" />
                        }
                        else
                        {
                            <span>To be added</span>
                        }
                    </td>
                    <td>@cars.Make</td>
                    <td>@cars.CarModel</td>
                    <td>@cars.Color</td>
                    <td>@cars.Price</td>
                    <td><a asp-action="details" asp-controller="Cars" asp-route-id="@cars.Id" class="btn btn-outline-light">Details</a></td>
                    <td><a asp-action="update" asp-controller="Cars" asp-route-id="@cars.Id" class="btn btn-outline-light">Update</a></td>
                    <td><a asp-action="delete" asp-controller="Cars" asp-route-id="@cars.Id" class="btn btn-dark">Delete</a></td>
                </tr>

                
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>

